<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mark Morgan | Article Sentiment Analysis Project | Udacity FEWD Nanodegree</title>
    </head>

    <body>

        <div id="wrapper">

        <header >
           <h1>Article Sentiment Analysis</h1>
           <h2>Udacity Front End Web Developer Nanodegree Project 3</h2>      
          
        </header>

        <main>

            <section id="introduction">
                <p>
                This web application uses the <a href="https://www.meaningcloud.com/developer/sentiment-analysis" target="_blank">Sentiment Analysis API</a>
                from <a href="https://www.meaningcloud.com/" target="_blank">Meaning Cloud</a>, in this instance to analyse 
                news articles. The project was completed as part of the Udacity Front End Web Developer Nanodegree Program</p>
                <h3>What is Sentiment Analysis?</h3>
              <figure>
                <blockquote cite="https://www.meaningcloud.com/products/sentiment-analysis">
                    <p>Have you ever wondered what people say about you, your company or your products in social networks? Have you ever tried to analyze the tens of thousands of answers to open-ended questions in customer satisfaction surveys?</p>
                </blockquote>
                <figcaption><cite>From Meaning Cloud Website</cite></figcaption>
              </figure>

            </section>

            <section id="form">              
                <div id="validation"></div>
               <form>
                <input id="url" type="text" name="url" value="" placeholder="enter valid url here" required>
                    <input type="submit" name="" value="Analyse Article" onclick="return Client.handleSubmit(event)">               
                </form>
            </section>

            <section id="results-section">
                <h3>Analysis Results:</h3>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>@copy Mark Morgan</p>
        </footer>

    </div>

    </body>
</html>
