footer{
    text-align: center;
    font-size: x-small;
    background-color: white; 
  
}

#footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
}