header{  
    background-color: white;
    padding:1em;        
    margin:1em;  
    border-bottom: 2px solid gray;

    h1{
    
        padding:1em;        
        margin:1em;
        text-align: center;
        font-weight: bold;
    }

    h2{
  
        padding:1em;        
        margin:1em;
        text-align: center;
        font-weight: bold;
    }
 }

 
 